<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.commonConfig.dao.SubjectDao">
  <resultMap id="BaseResultMap" type="com.edu.commonConfig.bean.Subject" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="subjectName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="isEnable" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="modified" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gradestageId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="version" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="subjectDesc" jdbcType="LONGVARCHAR" javaType="java.lang.String"/>
    </constructor>
  </resultMap>
  <resultMap id="ResultFkMap" type="com.edu.commonConfig.bean.Subject">
    <id property="ID" column="ID" />
    <result property="subjectName" column="subjectName" />
    <result property="isEnable" column="isEnable" />
    <result property="subjectDesc" column="subjectDesc" />
    <result property="created" column="created" />
    <result property="modified" column="modified" />
    <result property="version" column="version"/>
    <association property="gradestage" column="gradestageId" select="getGradestageById" />
  </resultMap>

  <resultMap type="com.edu.commonConfig.bean.Gradestage" id="gradestageResultMap">
    <id property="ID" column="ID"/>
    <result property="gName" column="gName"/>
    <result property="isEnable" column="isEnable"/>
    <association property="gradestageParent" column="parentId" select="getGradestageById"/>
  </resultMap>

  <!-- 学段年级字段-->
  <sql id="gradestage_columns">
    ID,gName,isEnable,parentId
  </sql>

  <sql id="Base_Column_List" >
    <!--
      查询的基本字段
    -->
    ID, subjectName, isEnable, created, modified, gradestageId, version,subjectDesc
  </sql>

  <!--根据学段年级ID,查询学段年级-->
  <select id="getGradestageById" resultMap="gradestageResultMap" parameterType="int">
      SELECT
      <include refid="gradestage_columns" />
      FROM ep_gradestage_info WHERE ID = #{ID}
  </select>

  <select id="selectByPrimaryKey" resultMap="ResultFkMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from ep_subject_info
    where ID = #{ID,jdbcType=INTEGER} AND isDelete = 0
  </select>

  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      定义为逻辑删除，
    -->
    UPDATE ep_subject_info SET isDelete = 1
    where ID = #{ID,jdbcType=INTEGER}
  </update>

  <delete id="truncateDeleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      定义物理删除
    -->
    delete from ep_subject_info
    where ID = #{ID,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.edu.commonConfig.bean.Subject">
    <!--
      保存
    -->
    insert into ep_subject_info (subjectName, isEnable, created, 
      modified, gradestageId, version,subjectDesc, isDelete)
    values (#{subjectName,jdbcType=VARCHAR}, #{isEnable,jdbcType=INTEGER}, #{created,jdbcType=VARCHAR}, 
      #{modified,jdbcType=VARCHAR}, #{gradestageId,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, 
      #{subjectDesc,jdbcType=LONGVARCHAR},0)
  </insert>

  <update id="updateByIdSelective" parameterType="com.edu.commonConfig.bean.Subject" >
    <!--
      选择性修改
    -->
    update ep_subject_info
    <set >
      <if test="subjectName != null" >
        subjectName = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=VARCHAR},
      </if>
      <if test="gradestageId != null" >
        gradestageId = #{gradestageId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="subjectDesc != null" >
        subjectDesc = #{subjectDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.commonConfig.bean.Subject" >
    <!--
      根据主键修改所有信息
    -->
    update ep_subject_info
    set subjectName = #{subjectName,jdbcType=VARCHAR},
      isEnable = #{isEnable,jdbcType=INTEGER},
      created = #{created,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=VARCHAR},
      gradestageId = #{gradestageId,jdbcType=INTEGER},
      subjectDesc = #{subjectDesc,jdbcType=LONGVARCHAR},
      version = #{version,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      查询所有数据，不包括分页
    -->
    select
    <include refid="Base_Column_List"/>
    from ep_subject_info
  </select>

  <select id="findChildenByGradestageId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    <!--
      根据学段年级ID查询所有学科数据，不包括分页
    -->
    select
    <include refid="Base_Column_List"/>
    from ep_subject_info WHERE gradestageId = #{gradestageId} AND isEnable = 1 AND isDelete = 0
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap">
    <!--
      带条件查询数据，包括分页
    -->
    select <include refid="Base_Column_List"/>
    from ep_subject_info where 1 = 1
    <if test="ID != null">
       AND ID = #{ID,jdbcType=INTEGER}
    </if>
    <if test="subjectName != null">
       AND subjectName like '%${subjectName}%'
    </if>
    <if test="isEnable != null">
       AND isEnable = #{isEnable,jdbcType=INTEGER}
    </if>
    <if test="created != null">
       AND created = like '%${created}%'
    </if>
    <if test="modified != null">
       AND modified = like '%${modified}%'
    </if>
    <if test="gradestageId != null">
       AND gradestageId = #{gradestageId,jdbcType=INTEGER}
    </if>
    <if test="version != null">
       AND version = #{version,jdbcType=INTEGER}
    </if>
    <if test="subjectDesc != null">
      AND subjectDesc = like '%${subjectDesc}%'
    </if>
      AND isDelete = 0
     ORDER BY modified DESC
    <if test="startIndex != null and pageSize != null">
      limit #{startIndex}, #{pageSize}
    </if>
  </select>

  <select id="selectFkByCondition" resultMap="ResultFkMap">
    <!--
      带条件查询带外键实体数据，包括分页
    -->
    select <include refid="Base_Column_List"/>
    from ep_subject_info where 1 = 1 AND isDelete = 0
    <if test="ID != null">
      AND ID = #{ID,jdbcType=INTEGER}
    </if>
    <if test="listGradestageId != null">
     AND gradestageId in
      <foreach collection="listGradestageId" item="id" separator="," open="(" close=")">
        #{id}
      </foreach>
    </if>
    <if test="isEnable != null">
      AND isEnable = #{isEnable,jdbcType=INTEGER},
    </if>
    <if test="gradestageId != null">
      AND gradestageId = #{gradestageId,jdbcType=INTEGER}
    </if>
    <if test="version != null">
      AND version = #{version,jdbcType=INTEGER}
    </if>
    <if test="subjectName != null">
      AND subjectName like '%${subjectName}%'
    </if>
    <if test="subjectDesc != null">
      AND subjectDesc = like '%${subjectDesc}%'
    </if>
    <if test="created != null">
      AND created = like '%${created}%'
    </if>
    <if test="modified != null">
      AND modified = like '%${modified}%'
    </if>
    ORDER BY modified DESC
    <if test="startIndex != null and pageSize != null">
      limit #{startIndex}, #{pageSize}
    </if>
  </select>

  <select id="count" resultType="int">
    <!--
        查询条数
     -->
    select count(*) from ep_subject_info
  </select>

  <select id="countByParam" resultType="int">
    <!--
       带条件查询条数
    -->
    select count(*) from ep_subject_info
    where 1 = 1 AND isDelete = 0
    <if test="ID != null">
      AND ID = #{ID,jdbcType=INTEGER}
    </if>
    <if test="listGradestageId != null">
      AND gradestageId in
      <foreach collection="listGradestageId" item="id" separator="," open="(" close=")">
        #{id}
      </foreach>
    </if>
    <if test="gradestageId != null">
      AND gradestageId = #{gradestageId,jdbcType=INTEGER}
    </if>
    <if test="version != null">
      AND version = #{version,jdbcType=INTEGER}
    </if>
    <if test="isEnable != null">
      AND isEnable = #{isEnable,jdbcType=INTEGER}
    </if>
    <if test="subjectName != null">
      AND subjectName like '%${subjectName}%'
    </if>
    <if test="created != null">
      AND created = like '%${created}%'
    </if>
    <if test="modified != null">
      AND modified = like '%${modified}%'
    </if>
    <if test="subjectDesc != null">
      AND subjectDesc = like '%${subjectDesc}%'
    </if>
  </select>
  <select id="isNameExists" resultType="int">
    <!--
       带条件查询条数
    -->
    select count(*) from ep_subject_info
   <where>
      <if test="ID != null">
        AND ID != #{ID}
      </if>
      <if test="gradestageId != null">
        AND gradestageId = #{gradestageId}
      </if>
      <if test="subjectName != null">
        AND subjectName = #{subjectName}
      </if>
       AND isDelete = 0
     </where>
  </select>

</mapper>